.car-image {
    width: 100%;
    aspect-ratio: 2 / 1.5;
    /* makes height equal width */
    object-fit: cover;
    border-radius: 8px;
}


.car-details-list li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    /* vertical spacing */
    border-bottom: 2px solid #ccc;
    /* faint thick gray line */
}



.detail-label {
    font-weight: 600;
}

.detail-value {
    /* optional styling */
    color: #555;
}