/* .container-fluid {
    background-color: gray !important;
} */

.search-container {
    width: 300px;
    /* Adjust width */
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: black;
}

.btn {
    background-color: black;
    color: white;
}

.navbar {
    /* opacity: 85%; */
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: gold !important;
}