<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us-NileWay Rentals</title>
    <link rel="stylesheet" href="/css/ContactStyle.css">
</head>
<body>

    <%- include('partials/nav') %>

    <div class="first">
        <img src="/images/AdobeStock_294688686.jpeg" alt="Car photo">
        <div class="overlay"></div>
        
        <div class="content">
            <h2>Contact Us</h2>
            <br>
            <h3>Need Help? Our Customer Support Services are available 24/7!</h3>
        </div>
    </div>

    <div class="All-cards">

        <div class="Cards-container">
            <div class="card">
                <img src="/images/home.png" alt="House Icon">
                    <h3>Visit Us</h3>
                    <br>
                    <p>You are always welcomed to visit us at our office for in person communication.</p>
                    <h4>1225 Riverbank Avenue</h4>
            </div>

            <div class="card">
                <img src="/images/phone-call.png" alt="Phone Icon">
                    <h3>Call Us</h3>
                    <br>
                    <p>In case of emergencies or Queries you can always call us.</p>
                    <h4>+44 (0) 203 944 2716</h4>
            </div>

            <div class="card">
                <img src="/images/email.png" alt="Mail Icon">
                    <h3>Contact Us</h3>
                    <br><br>
                    <p>Flexible financing solutions tailored to your budget. Get low-interest rates and easy approval!</p>
                    <h4>support<br>@nilewayrentals.co.eg</h4>
            </div>
        </div>
    </div>

     <%- include('partials/footer') %>

</body>
</html>