
.footer{
    background-color: #061524;
    padding: 40px 0;
    width: 100%;
}

.footer-container{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.links h3, .login h3, .social h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

.links ul, .social ul{
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a:hover {
   color: #0056b3;
}

.links ul li a, .social ul li {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition:  0.5 ;
}

.login h3{
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

.login form{
    display: flex;
    padding: 10px;
}

.login input{
    border: none;
    padding: 10px;
    outline: none;
    flex-grow: 1;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
}

.login button{
    border: none;
    background: none;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5;
}

.login button:hover{
    background-color: #0056b3;
}

input[type="email"]{
    padding: 12px;
    width: 250px;
    border: 2px solid #061524;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
}


.loginbtn{
    margin-top: 30px;
    padding: 12px 20px;
    background-color: white;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.social-icons li {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.social-icons li img {
    width: 30px;  
    height: 30px;
    object-fit: contain; 
}

.footer, 
.footer * {
    font-weight: 400 !important; /* ensures normal weight across footer */
}

.credentials {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #1a2a3c;
    margin-top: 30px;
}

footer, .footer-content, .credentials, .footer-email {
    color: white !important;
}
