::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva;
}

nav {
  position: relative;
  z-index: 10; 
}


.first{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    z-index: 0;
}

.first img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.first h1{
    align-items: center;
    color: #061524;
}

.content{
    width: 100%;
    position:absolute;
    text-align: center;
    z-index: 2;
    margin-top: 90px;
    color: white;
}

h2{
    font-size: 55px;
}

.first .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}


.All-cards{
    text-align: center;
    padding: 60px 20px;
    background: white;
}

.All-cards h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #061524;
}


.Cards-container{
    gap: 15px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.card{
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
    background-color: #061524;
}

.card img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.card h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #061524;
    transition: scale(1.05);
}

.card:hover h3{
   color: #061524;
}

.card p{
   opacity: 0;
   max-height: 0;
   position: absolute;
   bottom: 15px;
   left: 15px;
   right: 15px;
   color: #061524;
   transition: scale(1.05);
   overflow: hidden;
}

.card:hover p{
    opacity: 1;
    max-height: 200px;
    transition-delay: 0.1;
    color: white;
}

