        /* General styles for layout */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #001f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 350px;
            background-color: white;
            padding: 30px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            text-align: center;
        }

        input[type="text"], input[type="email"], input[type="tel"], input[type="button"] {
            width: 90%;
            padding: 12px;
            margin: 15px auto;
            display: block;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .message {
            margin-top: 20px;
            color: green;
        }

        .error {
            color: red;
        }

        #verifyButton, #sendCodeButton {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            border: none;
        }

        #sendCodeButton {
            background-color: #008CBA;
        }

        #verifyButton:hover, #sendCodeButton:hover {
            opacity: 0.8;
        }
        