body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    margin-top: 70px;
}

h1 {
    color: #333;
    text-align: left;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 20px;
}

.chart-container {
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.right-side-container {
    position: fixed;
    top: 50px;
    right: 40px;
    /* Increased the right space */
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#donut-container {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.reminder-box {
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.reminder-box h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.reminder-list {
    padding: 0;
    margin: 0;
}

.reminder-item {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #555;
}


.navbar {
    background-color: #061524;
}

z .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: gold !important;
}

.search-container {
    width: 300px;
}